.cart-modal-container {
  position: absolute;
  right: 0;
  max-width: 30%;
  min-width: 28rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  z-index: 30;

  .header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.7rem;

    & > * {
      margin-top: 0;
      margin-bottom: 2.3rem;
    }

    .close-icon {
      margin-left: auto;
      transform: scale(150%);

      &:hover {
        color: #ff8181;
      }
    }
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    row-gap: 0.5rem;

    & .empty-cart {
      margin: 75% auto;
      text-align: center;
      justify-self: center;
      color: #898989;
      font-size: 1.5rem;
    }
  }

  .footer {
    border-top: 1px solid #3d2f3d;
    position: sticky;
    color: #393939;

    .total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &:last-child > button {
      min-width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .cart-modal-container {
    min-width: 100vw;
    left: 0;
  }
}
