.navigation {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &.scrolled {
    background-color: rgba(255, 255, 255, 1);
  }

  .logo-container {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    margin: auto;

    .logo {
      align-self: center;
      margin-bottom: 0.7rem;
    }
  }

  .nav-links-container {
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    &.left {
      padding-left: 4.5%;
      justify-content: flex-start;
    }

    &.right {
      padding-right: 4.5%;
      justify-content: flex-end;
    }

    .nav-link {
      padding: 2rem 1rem;
      cursor: pointer;
      position: relative;
      display: inline-block;

      &.nav-link > * {
        font-size: 1.5rem;
      }

      &::after {
        content: " ";
        position: absolute;
        width: 80%;
        transform: scaleX(0);
        height: 10px;
        bottom: 2rem;
        left: 0;
        background-color: #ff808134;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
