.sign-up-container {
  display: flex;
  flex-direction: column;
  min-width: 30%;

  h2 {
    margin: 10px 0;
  }
}

@media (max-width: 1028px) {
  .sign-up-container {
    div.buttons-container {
      display: flex;
      flex-direction: column;
      row-gap: 0.3rem;
    }
  }
}
