.categories-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1028px) {
  .categories-container {
    flex-wrap: wrap;
  }
}
