.cart-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & .item-count {
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    border: none;
    outline: none;
    font-size: 0.85rem;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: #fe9f9f;
    overflow: hidden;
  }
}
