html {
  body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f1f4;
    min-height: 100vh;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  a {
    text-decoration: none;
    color: #1a1a1a;
  }

  h1 {
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
}
